body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
}

/* NAVBAR */
.nbar {
    background: #098d9c;
    padding: 15px;
    overflow: hidden;
}

.logo {
    float: left;
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.links {
    float: right;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    padding-bottom: 5px;
}

.links a:hover {
    border-bottom: 2px solid white;
}

/* SEARCH */
#searchBox {
    width: 93%;
    padding: 10px;
    margin: 20px auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}


/* CARD */
.card {
    width: 230px;
    background: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 12px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-left: 30px;

}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.btn {
    width: 100%;
    background: #0097a7;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 6px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.btn:hover {
    background: #007c8a;
}

.remove-btn {
    background: #d32f2f;
    color: white;
    border: none;
    width: 100%;
    padding: 6px;
    margin-top: 5px;
    cursor: pointer;
}

.remove-btn:hover {
    background: #b71c1c;
}

/* CART */
.qty-btn {
    width: 25px;
    height: 25px;
    background: #0097a7;
    color: white;
    border: none;
    cursor: pointer;
}

.qty-btn:hover {
    background: #007c8a;
}

#total {
    margin: 15px;
    font-size: 24px;
    font-weight: bold;
    clear: both;
}

.clear {
    clear: both;
}